
    <%- include('./partials/header.ejs') %>
    <div class="cenele">

    <h1>This is an about page</h1>


            <p>Student Name: Vamsi Cherukuru</p>
            <p>UNCC ID: 801287693</p>
            <p>M.S Computer Science</p>
            <p>Course Title: Network Based Apppcation Development</p>
            <p>Course Code: ITIS 5166</p>
      

        </div>
<%- include('./partials/footer.ejs') %>






