
    <%- include('./partials/header.ejs') %>

<div class="cenele">
    <h1>This is a contact page</h1>
    
        
    <p>Student Name: Vamsi Cherukuru</p>
    <p>UNCC ID: 801287693</p>
    <p>M.S Computer Science</p>

</div>
   



<%- include('./partials/footer.ejs') %>






