
    <%- include('./partials/header.ejs') %>
    <center>

    <h1>Oops, Something Went Wrong!!</h1>
<h4><%= error.status%></h4>
<h4><%= error.message%></h4>
</center>
<%- include('./partials/footer.ejs') %>






