<%- include('./partials/header.ejs') %>

    <div id="main_content">

        <div class="tagline_and_msg cenele">

           
            <h2>Welcome to Just Buy</h2>
            <p> <i>An ocean of electronics!!</i></p>
           
        </div>

    </div>
    <%- include('./partials/footer.ejs') %>

